<ion-view title="Signup" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="signup-form5" class="list">
      <ion-list id="signup-list6">
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">e-Mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="login" id="signup-button17" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>